
@{
    ViewBag.Title = "Password Changed Successfully";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h2>
Your password has been changed! Please @Html.ActionLink("Click Here", "Login") to use your new password to login.
</h2>